@model IEnumerable<oooooo.tEventRegister>

@{
    ViewBag.Title = "Detail";
}

<style>
    .exportToExcel{
        text-decoration:none;
        color:white;
    }
</style>

    <h2>參加名單 - 肩頸深度延展 瑜珈輪初學課程</h2>

<p class=" mb-3 exportToExcel">
    @Html.ActionLink("匯出名單", "Event" , "exportToExcel", new { }, new { @class = "btn btn-info exportToExcel " })
</p>
<table class="table">
    <tr>
        <th>
            NO.
        </th>
        <th>
            住戶編號
        </th>
        
        <th>
            參加人數
        </th>
        <th>
            姓名
        </th>
        <th>
            生日
        </th>
       
        <th>
            性別
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fEventRegisterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fUserId)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.fnumAttendPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAttendName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferBirthday)
       
        <td>
            @Html.DisplayFor(modelItem => item.ferGender)
        </td>
        
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
