@model oooooo.tEvent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>tEvent</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

   
    <div class="form-group">
        <div class="control-label col-md-2">活動名稱</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">分類</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fCategory, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fCategory, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">報名起始日</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventFromDay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventFromDay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">報名截止日</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventEndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventEndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動發起人</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fUserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動圖片</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventImgPath, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventImgPath, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動日期</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventDay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventDay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動時間</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動地點</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventLocation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventLocation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">內容詳述</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">報名費</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventFee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventFee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">堂數</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fnumCourse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fnumCourse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">備註</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fRemark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fRemark, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="儲存變更" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("回列表", "Event_B")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
